.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0;
  column-gap: 0;
}

.upper-container {
  border: 1px solid black;
  background: #F4F5FF;
  min-width: 785px !important;
}

.upper {
  border: 1px solid black;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.u-left {
  border: 1px solid black;
  width: 50%;
}

.text {
  padding-left: 5px;
}

.u-l-t1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #6670FD;
}

.u-l-t2 {
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #141633;
}

.u-l-t3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: rgba(20, 22, 51, 0.5);
  max-width: 450px;
}

.u-right {
  border: 1px solid black;
  width: 50%;
}

.u-right div {
  text-align: center;
}

.image {
  background-color: blue;
  border-radius: 10px;
}

.lower-container{
  border: 1px solid black;
  min-width: 785px !important;
}

.hidden-search {
  display: none;
}

.hidden-search form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.hidden-form form input {
  border: 1px solid #E3E5FC;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  box-shadow: #141633;
}

.lower {
  border: 1px solid black;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.l-left {
  border: 1px solid black;
  width: 30%;
  background: #FFFFFF;
  border: 1px solid #E3E5FC;
  border-radius: 10px;
}

.search {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.input {
  width: 100%;
  border: 1px solid #6670FD;
  border-top: black;
  border-right: black;
  border-left: black;
}

.search-links {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(20, 22, 51, 0.5);
}

.search-links:hover {
  cursor: pointer;
  color: #6670FD;
}

.search-links:active {
  color: #6670FD;
  text-decoration: none;
} 

.l-right {
  border: 1px solid red;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
}

.tiles {
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
  display: flex;
  margin-bottom: 30px;
  border: 1px solid #E3E5FC;
  background: #FFFFFF;
}

.blog-detail {
  /* flex: 0.9; */
  width: 60%;
  border: 1px solid black;
}

.blog-image {
  /* flex: 1; */
  border: 1px solid black;
  width: 40%;
  text-align: center;
}

.heads {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #6670FD;
  margin-top: 10px;
}

.announcement {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  color: #141633;
  margin-top: 20px;
}

.blogfoot {
  margin-top: 20px;
}

.blogfoot-logo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.blogfoot-text {
  display:inline;
  margin-left: 15px;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(20, 22, 51, 0.5);
}

.image {
  margin: 10px 10px 10px 0; 
}

.elipse {
  margin: 0 15px 0 15px;
}

@media screen and (max-width: 1124px) {
  .tiles {
    flex-direction: column-reverse;
  }

  .upper {
    flex-direction: column-reverse;
  }

  .u-left {
    width: 70%;
    margin: 0 auto;
  }

  .u-right {
    margin: 0 auto;
  }

  .u-l-t3 {
    max-width: unset;
  }

  .text {
    text-align: center;
  }

  .tiles {
    text-align: center;
  }

  .blog-detail {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .hidden-form {
    display: unset;
    position: relative;
    bottom: 70px;
  }
  .l-left {
    display: none;
  }

  .upper-container {
    /* min-width: 785px !important; */
    min-width: 414px;
  }

  .lower-container {
    /* min-width: 414px; */
  }
}